<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atividade 2</title>
</head>
<body>
    <h1>Atividade 2</h1>
    <div>
        <div>
            <div style="width: 200px; height: auto; background-color: aqua; word-wrap: break-word;">
                <h3>Título do artigo</h3>
                <p>ajosdhasjdalksjdlashdlkasjdlkasjdklajsdlkashdlkhaskldhalkshdlkahsdlkhaskldhklasdlkashdlkhlaskhdlkahsldkhalksdh</p>
            </div>
        </div>
    </div>
</body>
</html>